<div class="c_homePage">
  <div>
    <h2>Welcome Back, {{ fullName$ | async }}</h2>
    <div
      class="c_homePage__emptySplashCopy"
      *ngIf="(userPools$ | async)?.length === 0; else userPools"
    >
      <img src="/assets/images/home-empty-splash.png" />
      <p>You haven't joined any pick-em pools yet, <a>find one now!</a></p>
    </div>
    <ng-template #userPools>
      <div class="c_homePage__poolsList">
        <h3>Your active pools:</h3>
        <ul class="c_homePage__userPoolList">
          <li *ngFor="let uPool of userPools$ | async">
            <app-pool-card [userPool]="uPool"></app-pool-card>
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</div>
