<header>
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <h1>
        <a routerLink="/home"> Dogshell Pickem-Portal </a>
      </h1>
    </div>

    <div class="p-toolbar-group-right">
      <ng-container *ngIf="userIsLoggedIn$ | async">
        <button class="c_header__toggleButton" (click)="menu.toggle($event)">
          <span class="c_header__toggleButton__username">{{
            userName$ | async
          }}</span>
          <p-avatar
            [style]="{ 'background-color': '#FFD54F' }"
            [label]="(avatarLetter$ | async) || ''"
            role="button"
          >
          </p-avatar>
        </button>
      </ng-container>
      <p-menu #menu [popup]="true" [model]="authMenuItems"></p-menu>
    </div>
  </p-toolbar>
</header>
