<div class="c_signUpPage">
  <div class="c_signUpCard">
    <p-card header="Create an Account">
      <form [formGroup]="signupForm" class="c_signUpForm">
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-user-plus"></i>
            <input
              formControlName="firstName"
              id="firstName"
              type="text"
              pInputText
            />
            <label for="firstName">First Name</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-user-minus"></i>
            <input
              formControlName="lastName"
              id="lastName"
              type="text"
              pInputText
            />
            <label for="lastName">Last Name</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-desktop"></i>
            <input formControlName="email" id="email" type="text" pInputText />
            <label for="email">Email</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-user"></i>
            <input
              formControlName="userName"
              id="userName"
              type="text"
              pInputText
            />
            <label for="userName">Username</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-key"></i>
            <input
              formControlName="password"
              id="password"
              type="password"
              pInputText
            />
            <label for="password">Password</label>
          </span>
        </div>
      </form>
      <ng-template pTemplate="footer">
        <p class="c_signup_error" *ngIf="hasFormError | async">
          {{ formError || (signUpError$ | async) }}
        </p>
        <div class="c_signUpForm__buttons">
          <p-button (onClick)="submitSignup()">Sign Up</p-button>
        </div>
      </ng-template>
    </p-card>
    <p class="c_signUpPage__signupCopy">
      Already have an account?
      <a routerLink="/login">Log In instead!</a>
    </p>
  </div>
</div>
