.c_poolCard__header {
  padding: 1rem;
  font-size: 1.5rem;
  margin: 0;
  text-transform: capitalize;
}

.c_poolCard__body {
  text-align: left;

  dl {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
  }

  dl > dt {
    font-weight: bold;
  }
}
