<div class="c_loginPage">
  <div class="c_loginCard">
    <p-card header="Login">
      <form [formGroup]="loginForm" class="c_loginForm">
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-user"></i>
            <input formControlName="email" id="email" type="text" pInputText />
            <label for="email">Email</label>
          </span>
        </div>
        <div>
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-key"></i>
            <input
              formControlName="password"
              id="password"
              type="password"
              pInputText
            />
            <label for="password">Password</label>
          </span>
        </div>
      </form>
      <ng-template pTemplate="footer">
        <p class="c_loginForm_error" *ngIf="hasFormError | async">
          {{ formError || (loginError$ | async) }}
        </p>
        <div class="c_loginForm__buttons">
          <p-button (onClick)="submitLogin()">Login</p-button>
        </div>
      </ng-template>
    </p-card>
    <p class="c_loginPage__signupCopy">
      Need an account?
      <a routerLink="/signup">Sign-up instead!</a>
    </p>
  </div>
</div>
